name: Build and Push Deploy Branch

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish app
        run: dotnet publish -c Release -o ./publish

      - name: Deploy to deploy branch (incremental)
        run: |
          mkdir ..\deploy-temp
          Copy-Item -Recurse -Path .\publish\* -Destination ..\deploy-temp\
          cd ..
          git clone --depth=1 --branch=deploy https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git deploy
          cd deploy
          Copy-Item -Recurse -Force ..\deploy-temp\* .
          git config user.name "rianabd01"
          git config user.email "rianwahyuabd@gmail.com"
          git add .
          if ((git diff-index --quiet HEAD) -eq $false) {
            git commit -m "Update deploy $(Get-Date)"
            git push origin deploy
          } else {
            echo "No changes to deploy"
          }
