name: Build and Push Deploy Branch

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish app
        run: dotnet publish -c Release -o ./publish

      - name: Deploy to deploy branch
        run: |
          cd publish
          git init
          git config user.name "rianabd01"
          git config user.email "rianwahyuabd@gmail.com"
          git add .
          git commit -m "Deploy $(date)"
          git branch -M deploy
          git push -f https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git deploy
