name: Build and Push Deploy Branch

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish app
        run: dotnet publish -c Release -o ./publish

      - name: Deploy to deploy branch (incremental)
        run: |
          # Simpan hasil publish
          mkdir ../deploy-temp
          cp -r ./publish/* ../deploy-temp/
          cd ..

          # Clone branch deploy
          git clone --depth=1 --branch=deploy https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git deploy
          cd deploy

          # Copy hasil build ke repo deploy
          cp -r ../deploy-temp/* .

          # Commit hanya perubahan
          git config user.name "rianabd01"
          git config user.email "rianwahyuabd@gmail.com"
          git add .
          if git diff-index --quiet HEAD; then
            echo "No changes to deploy"
          else
            git commit -m "Update deploy $(date)"
            git push origin deploy
          fi
